@import "../../node_modules/bootstrap/scss/bootstrap";

$background-clr: rgb(230, 230, 230);
$backgrounds: rgba(0, 0, 0, 0.788);

html, body{
    background-color:$background-clr;
    font-size: 14px;
    font-family: 'Fjalla One', sans-serif;
    height: 100vh;
}


.margin-row{
    padding: 5vh;
    margin-top: 2vh !important;
}
