@import "./common.scss";

.nav-color{
    background-color: $backgrounds;
}

.nav-color-text{
    color: $cyan-400;
    margin: 1.5rem;
    text-decoration: none;
}

.nav-color-text:hover{
    color: $cyan-700;
    margin: 1.5rem;
    text-decoration: none;
}